body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    z-index: -10;
    background-position-y: bottom;
}

.jumbotron{
    margin-top:100px;
    background-color: #FFEB00;
    border-width:2px;
    border-style:solid; 
    border-color: #006D91;  
}

.navbar{
    background-color:#006D91;    
    border-bottom-style: solid;
    border-bottom-color: #01B0F8;    
}
     

.start-button {
    width: 50%;
    margin-top: 50px;
    background-color: #2D5C16;
    color:#AFCE0E

}

.start-button:hover {
    background-color: #347093;
    color: #01B0F8;
}

.start-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.counter{
    color: #347093;
}
.question-element{
    color: #347093;
}

#question-div {
    margin-top: 25px;

}

.clickAnswer:hover {
    color: #b20a0d;
     
    /* text-decoration: underline overline; */
}



.dropdown-menu {
    background-color:#AECE0D;   
    color:  #305F19;
}
.dropdown-menu {
    background-color:#AECE0D;   
    
}
.dropdown-menu a {
    color:  #305F19;        
}

.dropdown-menu a:hover {
    color:  #305F19;  
    background-color: #347093;  
}   

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    -o-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
  }
 

.fade.in {
  opacity: 1;
}


 
 
 